* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
}

body {
    background-color:  #808080;
}


/* ***********************************/
/* *****Style for Nav bar*************/
/* ***********************************/
header { 
    background-color: #333333;
}

#logo {
    max-height: 140px;
    max-width: 140px;
}

#menu li {
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    list-style-type: none;
}

#menu li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

header nav {
    margin-top: 10px;
    margin-right: 20px;
    float: right;

}


/* ***********************************/
/* Style for About section */
/* ***********************************/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#about {
    background-color: #111111;   
    height: 446px; 

}

#about-content {
    width: 60%;
    float: left;
}

#about-content h1 {
    color: #ffffff;
    font-size: 50px;
    padding-top: 8%;
    text-align: center;

}

#about-content h2 {
    color: #808080;
    font-size: 20px; 
    padding-top: 10px;
    text-align: center;
    font-family: 'cursive', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

#about-content p {
    color: #ffffff;
    font-family: 'Comic Sans MS','Bradley Hand ITC', 'cursive', Georgia, serif;
    font-size: x-large;
    margin-top: 50px;
    text-align: center;

}

#about-picture {
    /* padding-left: 100px; */
    float: right;

}

/* ***********************************/
/* Style for work section */
/* ********************************* */
.section-header {
    padding: 25px 0px 25px 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #111111;
    background-color:#E7E7E7;
}

.container {
    background-color: #E7E7E7;
}

#work-content {
    background-color: #333333;
}

.card-body h5{
    text-align: center;
}

.btn-group{
    background-color: #333333;
    border-radius: 20px;
}

.btn-group button{
    border-color:transparent;
}

.btn-group #btn-demo a {
    text-decoration: none;
    color: #00FF00;
    padding-right: 10px;
    /* border-style: solid; */
    border-right-color: #00FF00;
    border-right-style: solid;


}










/* ***********************************/
/* Style for Contact section */
/* ***********************************/

.contact-content{
    display: flex;
    justify-content: space-around;
    background: #333333;
}

.contact-form {
    width: 40%;
    background: #8D8D8D;
    border-radius: 5px;
    padding:10px;
    margin:15px;
}

.contact-form input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

.button-holder {
    background-color: #8D8D8D;
    color: black;
    text-align: center;
}
  
.contact-form  input[type=submit] {
    background-color: #00FF00;
    width: 100px;
    margin: auto;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

  }
  
 .contact-links{
      width: 40%;
      padding:10px;
      margin:15px;
      border-radius: 5px;
      /* background: #8D8D8D; */
  }

.contact-links ul{
    list-style-type: none;
    margin: 60px;
    white-space: nowrap;
}

.contact-links li{
      margin-bottom: 30px;

  }

  .contact-links li a{
    margin-left: 20px;
    text-decoration: none;
    color: #00FF00;
    font-size: large;
    /* border-style: solid; */
    font-weight: bolder;

}

i {
    color: #00FF00;
}


/* ***********************************/
/* Style for Footer                  */
/* ***********************************/
footer {
    padding: 10px;
    background-color: #333333;
    color: #8D8D8D;
    /* clear: both; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 12px;
}

